<p>Bewegungsmelder</p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">  
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Ort</th>
    <td mat-cell *matCellDef="let element"> {{ element.label }}</td>      
  </ng-container>

  <ng-container matColumnDef="floor">
    <th mat-header-cell *matHeaderCellDef>Stockwerk</th>
    <td mat-cell *matCellDef="let element"> {{ element.floor }}</td>      
  </ng-container>

  <ng-container matColumnDef="lastMotion">
    <th mat-header-cell *matHeaderCellDef>Letzte Bewegung am</th>
    <td mat-cell *matCellDef="let element"> {{element.lastMotion | date :'d.M.yyyy, H:mm'}}</td>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef>Aktualisiert am</th>
    <td mat-cell *matCellDef="let element"> {{element.lastUpdated | date :'d.M.yyyy, H:mm'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<iframe src="http://192.168.1.110:32090/d/OFZBg3c4z/bewegungsmelder?orgId=2&from=now-24h&to=now" width="100%" height="100%"></iframe>