<p>Licht</p>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Ort</th>
    <td *matCellDef="let element" mat-cell> {{ element.label }}</td>
  </ng-container>

  <ng-container matColumnDef="floor">
    <th mat-header-cell *matHeaderCellDef>Stockwerk</th>
    <td *matCellDef="let element" mat-cell> {{ element.floor }}</td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td *matCellDef="let element" mat-cell>
      <mat-slide-toggle (change)="switchLight(element, $event.checked)" [checked]="element.state">
      </mat-slide-toggle> </td>
  </ng-container>

  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef>Helligkeit</th>
    <td mat-cell *matCellDef="let element">
      <mat-slider *ngIf="element.dimmingLevelInPercent"
                  aria-label="%"
                  max="100"
                  min="0"
                  step="1">
        <input #mySlider (change)="setDimmingLevel(element, mySlider.value)" [value]="element.dimmingLevelInPercent" matSliderThumb>
      </mat-slider>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef>Aktualisiert am</th>
    <td mat-cell *matCellDef="let element"> {{element.lastUpdated | date :'d.M.yyyy, H:mm'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<iframe [src]="getGrafanaUrl() | safe:'resourceUrl'" height="100%" width="100%"></iframe>
